 <div class="container">
    <h3>Hello Admin,</h3>
   <h3> View the status of your agents and the evolution of their latest alerts
   </h3>

  <p>Installed agents by their status</p>
</div>

<div class="cardElement">
  <div class="card text-center box">
    <div class="card-body">
      <h5 class="card-title">Total Agents</h5>
      <div class="bottom"><p class="card-text colorTotalA" style="position: relative;">{{total}}</p>
      </div></div>
  </div>

  <div class="card text-center box">
    <div class="card-body">
      <h5 class="card-title">Active agents</h5>
      <div class="bottom"><p class="card-text colortotalAct">{{totalAct}}</p></div>
    </div>
  </div>

  <div class="card text-center box">
    <div class="card-body">
      <h5 class="card-title">Disconnected agents</h5>
      <div class="bottom"><p class="card-text colortotalAct">{{totalAct}}</p></div>
    </div>
  </div>

  <div class="card text-center box">
    <div class="card-body">
      <h5 class="card-title">Pending agents</h5>
      <div class="bottom"> <p class="card-text colortotalP">{{totalP}}</p></div>
    </div>
  </div>

  <div class="card text-center box">
    <div class="card-body">
      <h5 class="card-title">Never connected agents</h5>
      <div class="bottom"> <p class="card-text colortotalN">{{totalN}}</p></div>
    </div>
  </div>

  <div>
